div {
  content: "btn_contact";
}
$bg_color: "";
$bg_hover_color: "";
$txt_c: "";
$txt_hover_c: "";

.contact {
  display: inline-block;
  max-width: 540px;
  height: 100px;
  width: 100%;
  @include mb3;
  background-color: $bg_color;
  transition: 0.5s;
  position: relative;
  //font情報
  color: $txt_c;
  line-height: 100px;
  font-size: 21px;
  line-height: 100px;
  letter-spacing: 4.5px;
  text-align: center;
  @include mq-down(sm) {
    height: 80px;
    line-height: 80px;
    font-size: 19px;
  }
  &:hover {
    background-color: $bg_hover_color;
    transition: 0.5s;
  }
  .mail {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 22%;
    content: url(/cmn/img/pc/mail.png);
    width: 25px;
    @include mq-down(sm) {
      left: 15%;
    }
  }
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
    content: url(/cmn/img/pc/next.png);
    width: 8px;
    transition: 0.5s;
  }
  &:hover {
    .next {
      right: 7%;
      transition: 0.5s;
    }
  }
}
