.breadcrumb {
  // margin: 0;
  // padding: 0;
  // list-style: none;
  li {
    position: relative;
    display: inline-block; /*横に並ぶように*/
    list-style: none;
    font-weight: normal; /*太字*/
    margin-right: 8px;
    &::after {
      /*三角の部分*/
      content: "";
      position: absolute;
      top: 9px;
      left: 100%;
      border-style: solid;
      border-color: transparent;
      border-left-color: $whitegray; /*背景色*/
      border-width: 14px 12px;
      width: 0;
      height: 0;
      @include mq-down {
        top: 6px;
      }
      @include mq-down(sm) {
        top: 0;
      }
    }
  }
  a {
    display: inline-block;
    padding: 0 3px 0 7px;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
    color: $whiteblue;
    background: $whitegray; /*背景色*/
    font-size: 13px;
    transition: 0.3s;
    &:hover {
      color: $black;
      transition: 0.3s;
    }
  }
}
